# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin123

# Jupyter
JUPYTER_TOKEN=jupyter123
