apiVersion: v1
kind: Secret
metadata:
  name: datalake-secrets
type: Opaque
stringData:
  MINIO_ROOT_USER: minioadmin
  MINIO_ROOT_PASSWORD: minioadmin123
  POSTGRES_USER: airflow
  POSTGRES_PASSWORD: airflow
  POSTGRES_DB: airflow
  AIRFLOW_USER: admin
  AIRFLOW_PASSWORD: admin123
  JUPYTER_TOKEN: jupyter123
  PORT: "3010"
  MINIO_ENDPOINT: http://minio:9000
  MINIO_CONSOLE_URL: http://minio:9001
  MINIO_ACCESS_KEY: minioadmin
  MINIO_SECRET_KEY: minioadmin123
  TRINO_URL: http://trino:8080
  AIRFLOW_URL: http://airflow:8080
  SPARK_MASTER_URL: http://spark-master:8080
  JUPYTER_URL: http://jupyter:8888
  POSTGRES_URL: postgres:5432
  MARQUEZ_API_URL: http://marquez-api:5000
  MARQUEZ_WEB_URL: http://marquez-web:3000
  SERVICE_NAME: enginedge-datalake
  LOG_LEVEL: info
  LOG_ENABLE_CONSOLE: "true"
  LOG_ENABLE_FILES: "true"
  LOG_DIR: logs
